/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
models/*.movies
models/*.movies.bin
models/*.txt
*.query.*
doc/.minted-ttc-movie-couples/
doc/auto
doc/*.aux
doc/*.bbl
doc/*.blg
doc/*.log
doc/*.out
doc/*.synctex.gz
